[Unit]
Description=Adnanh Webhook Service
After=network.target

[Service]
Type=simple
User=webhook
Group=webhook
WorkingDirectory=/home/mehri/webhook
EnvironmentFile=/home/mehri/webhook/.env
ExecStart=/usr/bin/webhook -hooks /home/mehri/webhook/config/hooks.json -port 9000 -verbose -hotreload
Restart=on-failure
RestartSec=5s

# Restrict writes strictly to /home/mehri/webhook
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/home/mehri/webhook/data

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target